.hero {
  height: 100%;
  position: relative;

  Canvas {
    height: 100vh;
  }
  h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e2e8f0; /* text-slate-200 */
    font-weight: 500; /* font-medium */
    font-size: 2rem; /* text-2xl */
    @media (min-width: 768px) {
      font-size: 5rem; /* md:text-5xl */
    }
    pointer-events: none;
  }
  .text_container {
    position: absolute;
    top: 52%;
    left: 30.5%;
    text-align: center;

    p {
      font-size: 1.5rem;
      letter-spacing: 3px;
      color: white;
      width: 40ch;
    }
  }
  .buttons {
    position: absolute;
    top: 62%;
    left: 40.7%;

    button {
      margin-right: 0.8rem;
      padding: 0.8rem 1.8rem;
      border: 2px solid #8f9296;
      border-radius: 2rem;
      background: transparent;
      color: white;
    }
  }
  .scroll_animation {
    position: absolute;
    top: 69%;
    left: 48.5%;

    .scroll_icon {
      width: 35px;
      height: 65px;
      border-radius: 20px;
      border: 2px solid #8f9296;
      display: flex;
      justify-content: center;
      align-items: start;
      padding: 6px;

      .scroll_icon_circle {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #8f9296;
      }
    }
  }
}
