// DIGITAL WATCH
.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 4vh;
  font-size: 4vh;
  font-family: sans-serif;
  line-height: 4.4vh;
  // border: 2px solid red;
}

.clock > div {
  display: flex;
}

.tick {
  line-height: 1vh;
}
// .tick-hidden {
//   opacity: 0;
// }

.move {
  animation: move 1s linear;
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10vh);
  }
}

// RESPONSIVE LAYOUTS BENTOBOX
.stripe {
  background: repeating-linear-gradient(
    to right,
    #121113,
    #121113 10px,
    #000000 10px,
    #000000 20px
  );
}
