@import "../_mixins.scss";

.skills {
  max-width: 1366px;
  margin: auto;
  height: 100%;
  padding: 0 0.5rem;

  @include respond-to(xs) {
    padding: 0 0.5rem;
  }

  @include respond-to(sm) {
    padding: 0 0.6rem;
  }

  @include respond-to(md) {
    padding: 0 0.7rem;
  }

  @include respond-to(lg) {
    padding: 0;
  }

  h1 {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    margin: 1rem 0;
    // border: 2px solid;

    @include respond-to(xs) {
      font-size: 32px;
    }

    @include respond-to(sm) {
      font-size: 36px;
    }

    @include respond-to(md) {
      font-size: 48px;
    }

    @include respond-to(lg) {
      font-size: 60px;
    }
  }
  .skills_card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1.5rem;

    @include respond-to(xs) {
      margin-top: 2.5rem;
      gap: 1.5rem;
    }
    @include respond-to(sm) {
      margin-top: 3.5rem;
    }

    @include respond-to(md) {
      margin-top: 4.5rem;
    }

    @include respond-to(lg) {
      margin-top: 5rem;
    }
    .green-pink-gradient {
      background: linear-gradient(90.13deg, #000000 1.9%, #d4d4d4 97.5%);
    }
  }
}
