@import "../_mixins.scss";

.testimonial {
  max-width: 1366px;
  margin: auto;
  height: 100%;

  @include respond-to(xs) {
    padding: 0 0.5rem;
  }

  @include respond-to(sm) {
    padding: 0 0.6rem;
  }

  @include respond-to(md) {
    padding: 0 0.7rem;
  }

  @include respond-to(lg) {
    padding: 0;
  }

  h1 {
    font-size: 28px;
    font-weight: bolder;
    color: white;
    margin: 1rem 0;

    @include respond-to(xs) {
      font-size: 32px;
    }

    @include respond-to(sm) {
      font-size: 36px;
    }

    @include respond-to(md) {
      font-size: 48px;
    }

    @include respond-to(lg) {
      font-size: 60px;
    }
  }

  .reviews_container {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    // border: 2px solid red;

    @include respond-to(xs) {
      gap: .5rem;
      // margin-top: 2.5rem;
    }

    @include respond-to(sm) {
      gap: 1.5rem;
      // margin-top: 3.5rem;
    }

    @include respond-to(md) {
      gap: 2rem;
      // margin-top: 4.5rem;
    }

    @include respond-to(lg) {
      gap: 2rem;
      // margin-top: 5rem;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      // border: 2px solid red;

      img {
        @include respond-to(xs) {
          height: 18px;
        }

        @include respond-to(sm) {
          height: 20px;
        }

        @include respond-to(md) {
          height: 25px;
        }

        @include respond-to(lg) {
          height: 30px;
        }
      }
    }

    .review {
      // border: 1px solid yellow;
      @include respond-to(xs) {
        padding: 0.5rem 0.5rem;
      }

      @include respond-to(sm) {
        padding: 1rem 1rem;
      }

      @include respond-to(md) {
        padding: 2rem 1.5rem;
      }
      @include respond-to(lg) {
        padding: 2rem 4rem;
      }

      .client_desc {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 400px);
        width: 1000px;
        margin: 0 auto;

        @include respond-to(xs) {
          height: calc(100vh - 500px);
          width: 100%;
        }

        @include respond-to(sm) {
          // height: calc(100vh - 300px);
          width: 100%;
        }

        @include respond-to(md) {
          // height: calc(100vh - 350px);
          width: 100%;
        }
        @include respond-to(lg) {
          height: calc(100vh - 400px);
          width: 1000px;
        }

        p {
          color: #8f9296;
          letter-spacing: 1.5px;

          @include respond-to(xs) {
            font-size: 16px;
            line-height: 25px;
          }

          // @include respond-to(sm) {
          //   font-size: 20px;
          //   line-height: 25px;
          // }

          @include respond-to(md) {
            font-size: 20px;
            line-height: 30px;
          }
          @include respond-to(lg) {
            font-size: 30px;
            line-height: 50px;
          }

          span {
            @include respond-to(xs) {
              font-size: 60px;
            }

            @include respond-to(sm) {
              font-size: 80px;
            }

            @include respond-to(md) {
              font-size: 100px;
            }
            @include respond-to(lg) {
              font-size: 110px;
            }
          }
        }
      }

      .client_info {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h3 {
          text-decoration: underline;
          text-transform: capitalize;
          color: #8f9296;

          @include respond-to(xs) {
            font-size: 16px;
          }

          @include respond-to(md) {
            font-size: 20px;
          }
        }

        img {
          border: 2px solid rgb(255, 255, 255);
          border-radius: 50%;

          @include respond-to(xs) {
            height: 35px;
          }

          @include respond-to(sm) {
            height: 40px;
          }

          @include respond-to(md) {
            height: 45px;
          }

          @include respond-to(lg) {
            height: 50px;
          }
        }
      }
    }
  }
}
