.sparkle {
  width: 3px;
  height: 3px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  animation: sparkleAnimation 10s infinite linear;
  box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
  z-index: -1;
}

@keyframes sparkleAnimation {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(calc(var(--randomYDirection) * 50px))
      translateX(calc(var(--randomXDirection) * 50px));
  }
}

